*{
    color-scheme: dark;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;

}

.mainWrapper{
    padding-top: 10%;
    padding-bottom: 10%;
    transform: scale(1.3);
}

.mainContainer{
    background-color: rgb(147, 61, 40);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: center;
    border: 10px solid grey;
    border-radius: 20px;
    border-bottom-color: rgb(70, 70, 70);
    border-right-color: rgb(70, 70, 70);
    width: max-content;
}

.answerBox{
    background-color: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    justify-content: space-around;
    border: 4px solid grey;
    border-top-color: rgb(70, 70, 70);
    border-left-color: rgb(70, 70, 70);
    border-radius: 20px;
    width: 70%;
    height: 180px;
    margin-top: 1em;
    font-family: monospace;
    padding: 1em;

}

.answerBox > div{
    color: greenyellow;
}

.answer{
    transform: scale(3);
}

button{
    display: grid;
    justify-content: center;
    border-radius: 20px;
    transform: scale(1.3);
}

.buttonBox{
    display:grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    grid-template-rows: repeat(4, [row-start] 1fr);
    gap: 1em;
    padding: 1em;
    padding-bottom: 1.8em;
}

button:hover{
    transform: scale(1.6);
    background-color: rgb(126, 126, 126);
    box-shadow: 3px 3px .3em darkgoldenrod;
}